libraries/
PCB/Version1.2.b##
.idea/

__vm/
.vs/
.vscode
data/
__pycache__/

*.sln
*.vcxproj
*.vcxproj.filters

node_modules/
build/
act.exe
docs/manual/mdpdf.log
docs/manual/wkhtmltopdf.exe
main/.DS_Store
.DS_Store
WebApp/.lighthouseci/
