.formButton {
    margin: .7rem;
    font-size: var(--font-size);
    color: #FFFFFF;
    background: var(--brand);
    border-radius: 0.4rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

.label {
    height: 1.6rem;
    font-size: var(--font-size);
    border-radius: .4rem;
}