.textarea-scrollbar {
    /*overflow:scroll !important;*/
    overflow-y: scroll !important;
    height: 50px;
    padding-bottom: 120px;
    resize: both !important;
    -ms-overflow-style: scrollbar;
    min-height:50px;
    max-height:200px;
}

.textarea-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.textarea-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}