:root {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--font-size:    1.2rem;
	--color-bg:   #F9FAF4;
	--color-text: #000000;
	--brand:      #0067c5;
}

/* Light (default) */
[data-theme='light'] {
	--color-bg:    #F9FAF4;
	--color-text:  #000000;
	--brand:       #0067C5;
}

/* Cymaspace palette */
[data-theme='cyma'] {
	--color-bg:    #2D2D2D;
	--color-text:  #FFFFFF;
	--brand:       #C30443;
}

/* OSU palette */
[data-theme='osu'] {
	--color-bg:    #141414;
	--color-text:  #FFFFFF;
	--brand:       #D73F09;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;

	color:      var(--color-text);
	background: var(--color-bg);
}

#app > main {
	display: flex;
	padding-top: 3.5rem;
	margin: 0 auto;
	min-height: calc(100vh - 3.5rem);
	max-width: 1280px;
	align-items: center;
	justify-content: center;
}

@media (max-width: 639px) {
	#app > main {
		margin: 0 2rem;
	}
}
