:root {
    --ctl-h:    2rem;
    --ctl-pad:  0 0.75rem;
}

.label{
    font-size: var(--font-size);
    margin-right: .5rem;
}

.select{
    font-size: var(--font-size);
    height: var(--ctl-h);
    padding: var(--ctl-pad);
    border-radius:.5rem;
    border:2px solid var(--brand);
    cursor:pointer;
}

.cycleBtn{
    height: var(--btn-h);
    font-size: var(--font-size);
    border-radius: .5rem;
    background: var(--brand);
    color: #fff;
    border: none;
    cursor: pointer;
    margin: .4rem 0 0 var(--btn-gap);
}