.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: black;
    padding: 20px;
    border-radius: 4px;
    max-width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalTitle {
    margin-top: 0;
}

.textContainer {
    max-width: 60%;
    margin: 0 auto;
    text-align: justify;
}

.modalButton {
    background-color: #aaa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}
