:root {
	--chk-size:  1.5rem;
    --chk-gap:   0.5rem;
}

.checkboxOption{
    display: inline-flex;
    align-items: center;
    font-size: var(--font-size);
    margin-right: var(--chk-gap);
}

.checkboxOption input[type="checkbox"]{
    width:  var(--chk-size);
    height: var(--chk-size);
    cursor: pointer;
    margin-right: var(--chk-gap);
}